@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    background: #fff;
}

.container-heading {
    line-height: 100px;
    color: #fff;
    padding: 20px 50px; 
    text-align: center;
    font-family: "Limelight", cursive;
    text-transform: uppercase;
    font-size: 30px;
    border-radius: 70px;
    background: #ba8787;
    box-shadow:  20px 20px 34px #6a4d4d,
             -20px -20px 34px #ffc1c1;
    margin: 5px 30%;
}

.container {
    margin: 20px 0;
    font-family: "Yanone Kaffeesatz";
}

.cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;    
}

.card {
    width: 50%;
    height: 25%;
    padding: 20px 0 20px 0;
}

.card img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.title {
    margin: 20px 0 15px;
    font-size: 30px;
}

.description {
    font-size: 18px;
}

footer {
    width: 100%;
    line-height: 30px;
    background: #ba8787;
    text-align: center;
    font-family: "Yanone Kaffeesatz";
    padding: 20px 0px;
}

footer a {
    color: #fff;
    font-size:30px
}

footer small {
    font-size:20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: rgb(223, 222, 222);
}

::-webkit-scrollbar-thumb:hover {
    background: #aeaeb1;
}

@media (max-width: 900px) {
    .container-heading {
        margin: 5px 5%;
        line-height: 35px;
    }
    .cards {
        padding: 0 30px;
    }
    .card img {
        max-width: 300px;
    }
}
